body {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
  font-size: 1.1em;
}
h1,
h2,
p,
ul,
li {
  font-family: 'Sedgwick Ave', cursive;
  font-size: 1.2em;
}
h1 {
  opacity: 1;
  margin: 0;
}
ul {
  list-style-type: none;
}
ul.header li {
  display: inline;
  opacity: 1;
  list-style-type: none;
  margin: 0;
  font-size: 1.5em;
  padding: 20px;
}
ul.header {
  border-radius: 25px;
  opacity: 0.5;
  background-color: #111;
  padding: 0;
}
ul.header li a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  font-size: 1.5em;
  color: #afd3ff;
}
ul.header li a:hover {
  color: #ffffff;
}
.content {
  background-color: rgba(204, 204, 204, 0.8);
  border-radius: 25px;
  opacity: 0.9;
  padding: 20px;
}
.content h2 {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.5em;
}
.content li {
  margin-bottom: 10px;
}
.splashImg {
  border-radius: 25px;
  height: 20%;
}
.splashContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.splashImg:hover {
  animation: bounce;
}
.thumbnail {
  opacity: 0.9;
  margin: 15px;
  padding: 15px;
  display: inline-block;
}
.panel {
  opacity: 0.8;
}
.active {
  border-radius: 25px;
  background-color: #000000;
}
.thumbnail img {
  opacity: 1;
  border-radius: 10px;
}
